<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Groupware</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">

    <!--_csrf token-->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- cdn from bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>

    <style>
        /* 사이드바 커스텀 스타일링 */
        .sidebar {
            background-color: #f8f9fa;
            height: 90vh;
            overflow-y: auto;
        }
    </style>
    <script>
        window.onload = function(){
            // 처음 로드 시 resize 적용
            const event = new Event('resize');
            window.dispatchEvent(event);
        }
        //화면 크기 변경 시 사이드바 높이 조정(모바일버전)
        window.addEventListener('resize', function () {
            let sidebar = document.getElementById('sidebar');
            if (window.innerWidth < 768) {
                sidebar.style.height = '100%';
            } else {
                sidebar.style.height = '90vh';
            }
        });
    </script>
</head>

<body>
    <!-- 헤더 -->
    <div th:replace="fragments/header::header"></div>

    <div class="container-fluid">
        <div class="row">
            <!-- 사이드바 -->
            <div class="col-md-3 sidebar" id="sidebar">
                <div th:replace="fragments/sidebar::sidebar"></div>
            </div>
            <!-- 메인 콘텐츠 -->
            <div class="col-md-9">
                <div layout:fragment="content"></div>
            </div>
        </div>
    </div>
    <!-- 푸터 -->
    <div th:replace="fragments/footer::footer"></div>

</body>

</html>
