<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <div layout:fragment="content">
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>
                            공지사항
                        </h2>
                        <div class="panel-toolbar">
                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-themed" data-bs-toggle="modal" data-bs-target="#addAnnounceModal">
                                신규등록
                            </button>
                        </div>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content row">
                            <div th:each="announcementDto : ${announcementDtoList}" class="col-xl-3">
                                <div class="card border m-auto m-lg-0" style="max-width: 24rem;">
                                    <img src="/img/card-backgrounds/cover-3-lg.png" class="card-img-top" alt="공지 이미지">
                                    <div class="card-body">
                                        <h5 th:text="*{announcementDto.annoTitle}" class="card-title"></h5>
                                        <p th:text="${announcementDto.startDate} + ' ~ ' + ${announcementDto.endDate}" class="card-text"></p>
                                        <p th:text="*{announcementDto.annoContents}" class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush p-3">
                                        <button class="btn btn-danger waves-effect waves-themed" onclick="deleteAnnouncement()">삭제</button>
                                    </ul>
                                    <div class="card-body">
                                        <a th:text="'작성자 : ' + ${announcementDto.registrant} + ' ( ' + ${announcementDto.regDate} + ' 등록 ) '" href="#" class="card-link"></a>
                                    </div>
                                    <div id="annoId" th:value="*{announcementDto.annoId}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 기존 -->
        <!-- <style>
            .fieldError{
                color: #bb2d3b;
                font-size: small;
                display: none;
            }
        </style>
        <div class="h6 text-body-secondary">공지사항(팝업)을 관리하는 화면입니다.</div>
        <hr>
        <div class="d-grid gap-2 mb-3 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addAnnounceModal">
                공지 팝업 추가
            </button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="card mb-3 me-3" style="width: 18rem; height: 26rem" th:each="announcementDto : ${announcementDtoList}">
                    <div class="opacity-50 rounded mt-3 card-img-top" style="background-color: rgb(0 0 0);height: 200px;display: flex;justify-content: center;align-items: center;color: white;">
                        no image
                    </div>
                    <div class="card-body overflow-hidden">
                        <div class="card-title h5 mb-2 text-truncate" th:text="*{announcementDto.annoTitle}">Card title</div>
                        <div class="card-subtitle mb-2 text-body-secondary">
                            <span th:text="*{announcementDto.startDate}">start</span>
                            ~
                            <span th:text="*{announcementDto.endDate}">end</span>
                        </div>
                        <div class="card-text overflow-y-scroll mb-2" style="height: 5rem;" th:text="*{announcementDto.annoContents}">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </div>
                        <div>
                            <div class="text-body-secondary d-inline-block">
                                <div class="fs-6 d-inline-block" th:text="*{announcementDto.registrant}"></div>
                                (<div class="fs-6 d-inline-block" th:text="*{announcementDto.regDate}"></div>)
                            </div>
                            <button class="btn btn-outline-danger float-end btn-sm" onclick="deleteAnnouncement()">삭제</button>
                        </div>
                    </div>
                    <div id="annoId" th:value="*{announcementDto.annoId}"></div>
                </div>
            </div>
            <div class="row" th:if="${#lists.isEmpty(announcementDtoList)}">
                <div class="card mb-3 me-3" style="width: 18rem;">
                    <div class="opacity-50 rounded mt-3" style="background-color: rgb(0 0 0);height: 200px;display: flex;justify-content: center;align-items: center;color: white;">no image</div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">start ~ end day</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <span class="card-link">등록자</span>
                        <a href="#" class="btn btn-outline-danger float-end btn-sm">삭제</a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addAnnounceModal" tabindex="-1" aria-labelledby="addAnnounceModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addAnnounceModalLabel">공지용 팝업 등록</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modalCloseBtn"></button>
                        </div>
                        <div class="modal-body">
                            <form id="modalForm">
                                <img class="mb-3" id="popupImagePreview" style="display: none;" width="100" height="100">
                                <div id="fileId" name="fileId" hidden="hidden"></div>
                                <div class="mb-3">
                                    <label for="popupImage" class="col-form-label">이미지</label>
                                    <div class="input-group">
                                        <input type="file" class="form-control" id="popupImage">
                                        <button class="btn btn-outline-secondary" type="button" id="popupImageDeleteBtn">삭제</button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="annoTitle" class="col-form-label">제목</label>
                                    <input type="text" class="form-control" id="annoTitle" name="annoTitle">
                                    <p data-error-field="annoTitle" class="fieldError">Incorrect data</p>
                                </div>
                                <div class="mb-3">
                                    <label for="startDate" class="col-form-label">사용기간</label>
                                    <div class="input-group">
                                        <div style="width: 46%;">
                                            <input type="text" class="form-control"  id="startDate" name="startDate" placeholder="시작일" aria-label="시작일">
                                            <p data-error-field="startDate" class="fieldError">Incorrect data</p>
                                        </div>
                                        <div>
                                            <span class="input-group-text">~</span>
                                        </div>
                                        <div style="width: 46%;">
                                            <input type="text" class="form-control" id="endDate" name="endDate" placeholder="종료일" aria-label="종료일">
                                            <p data-error-field="endDate" class="fieldError">Incorrect data</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="annoContents" class="col-form-label">내용</label>
                                    <textarea class="form-control" id="annoContents" name="annoContents"></textarea>
                                    <p data-error-field="annoContents" class="fieldError">Incorrect data</p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="popupRegistrationBtn">저장</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="popupCancelBtn">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- 기존 -->
        <script>
            /**
             * 전역변수 설정
             * @type {HTMLElement}
             */
            const popupImage = document.getElementById("popupImage");
            const popupImageDeleteBtn = document.getElementById("popupImageDeleteBtn");

            /**
             * 이벤트 등록
             */
            // 팝업공지사항 등록 버튼
            document.getElementById("popupRegistrationBtn").addEventListener("click", modalFormSubmit);
            // 화면 벗어나면 정보 리셋 (닫기버튼, 모달화면 바깥버튼, 취소버튼, ESC)
            document.getElementById("modalCloseBtn").addEventListener("click", formReset); //닫기버튼
            document.getElementById("popupCancelBtn").addEventListener("click", formReset); //취소버튼
            document.getElementById("addAnnounceModal").addEventListener("click", function(event){ //모달화면 바깥 버튼
                const modalContainer = document.getElementById("addAnnounceModal");
                if (event.target === modalContainer) {
                    formReset();
                }
            });
            document.addEventListener("keydown", function (event) { //ESC
                if (event.key === "Escape") {
                    formReset();
                }
            });
            //이미지파일 삭제 버튼 클릭 시 삭제
            popupImageDeleteBtn.addEventListener("click", function(){
                const popupImage = document.getElementById("popupImage");
                const preview = document.getElementById("popupImagePreview");
                const fileId = document.getElementById("fileId");

                popupImage.value='';
                preview.style.display = "none";

                // filePath 따라서 파일 삭제하기
                if (fileId.value != null) {
                    deletePopupImages(fileId.value);
                }
            });
            //이미지 파일 업로드
            popupImage.addEventListener("change", function(event){
                // 기존에 있는게 있다면 삭제 후 업로드 수행
                const fileId = document.getElementById("fileId");
                if (fileId.value) {
                    deletePopupImages(fileId.value);
                }
                popupImageUploadProcess(event);
            });

            /**
             * 함수 정의
             */
            // 공지사항 삭제
            function deleteAnnouncement(){
                const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
                const annoId = document.getElementById('annoId').getAttribute('value');
                let xhr = new XMLHttpRequest();
                let object = {};

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            const alt = xhr.response;
                            alert(alt);
                            window.location.reload();
                        } else {
                            const alt = xhr.response;
                            alert(alt);
                            window.location.reload();
                        }
                    }
                }
                object['annoId'] = Number(annoId);
                const params = JSON.stringify(object);

                xhr.open('POST', '/announcement/deleteAnnouncement', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader(csrfHeader, csrfToken);
                xhr.send(params);
            }
            // 오류 메시지 클리어
            function targetClear(){
                const targets = document.querySelectorAll('.fieldError');
                targets.forEach(target => {
                    target.style.display = "none";
                });
            }
            // 모달 폼 에러 표시
            function displayErrors(errors){
                targetClear();
                const targets = document.getElementsByClassName('fieldError');
                const targetsArr = Array.from(targets);

                targetsArr.forEach(target => {
                    errors.forEach(error => {
                        if (target.dataset.errorField === error.errorField) {
                            target.innerText = error.errorMsg;
                            target.style.display="block";
                        };
                    });
                });

            }
            // 모달 폼 버튼 클릭
            function modalFormSubmit(){
                const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                //const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
                targetClear(); // 오류메시지 숨기기

                let xhr = new XMLHttpRequest();
                const formData = new FormData(document.getElementById("modalForm"));

                // AJAX로 서버에 데이터 전송
                fetch('/announcement/annoRegistration', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRF-TOKEN' : csrfToken,
                        // 'Content-Type' : 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert("성공적으로 저장되었습니다.");
                            window.location.href = data.redirectUrl;
                        } else {
                            //에러정보처리
                            displayErrors(data.errors);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
            // 모달 화면 리셋
            function formReset(){
                const modalForm = document.getElementById("modalForm");
                const fileId = document.getElementById("fileId");
                const preview = document.getElementById("popupImagePreview");
                preview.style.display = "none";
                targetClear(); // 오류메시지 숨기기

                if (fileId.value) {
                    deletePopupImages(fileId.value);
                }
                modalForm.reset();
            }
            //파일 삭제하기
            function deletePopupImages(fileId) {
                const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");

                let xhr = new XMLHttpRequest();
                let object = {};

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {

                        } else {
                            alert('파일 삭제 중 오류가 발생하였습니다.');
                            // console.log(xhr.response);
                        }
                    }
                }
                object['fileId'] = Number(fileId);
                const params = JSON.stringify(object);

                xhr.open('POST', '/announcement/imagesDelete', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader(csrfHeader, csrfToken);
                xhr.send(params);
            }
            //(Not Used)이미지 미리보기 세팅
            function imagesPreviewSetting(file){
                let preview = document.getElementById("popupImagePreview");
                preview.style.display = "";
                preview.src = "/images/file/"+file.fileName;
            }
            //(Not Used)이미지 미리보기
            function popupImagePreview(fileId){
                const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
                let xhr = new XMLHttpRequest();
                let object = {};

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            /**
                             * 파일을 직접 불러와야 하지만, 웹페이지에서 로컬 파일 시스템으로 직접 접근은 보안상의 이유로 금지되어있음
                             * 따라서 직접 불러오지 않고, 저장되는 /static/~ 경로에서 불러옴.
                             * 나중에는 로컬에 저장하지 않고 서버에 저장하여 직접 불러올 수 있도록 file.fileOriPath 로 불러오도록 하자.
                             * => 브라우저 로딩 문제로 404 에러 발생 => 자바스크립트 미리보기로 미리보기 바로 가능하도록 조치 취함
                             */
                            const file = JSON.parse(xhr.response);
                            imagesPreviewSetting(file);
                        } else {
                            alert('이미지 미리보기 중 오류가 발생하였습니다.');
                            // console.log(xhr.response);
                        }
                    }
                }
                object['fileId'] = Number(fileId);
                const params = JSON.stringify(object);

                xhr.open('POST', '/announcement/imagesPreview', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader(csrfHeader, csrfToken);
                xhr.send(params);
            }
            // 이미지 파일 업로드
            function popupImageUpload(file, callback){
                if (file) {
                    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");

                    let xhr = new XMLHttpRequest();
                    const formData = new FormData();

                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                //return 값은 boolean 값으로
                                const fileId = document.getElementById("fileId");
                                fileId.value = xhr.response;
                                callback(xhr.response);
                            } else {
                                alert('이미지 파일 업로드 중 오류가 발생하였습니다.');
                                // console.log(xhr.response);
                                return false;
                            }
                        }
                    }
                    formData.append('file', file);

                    xhr.open('POST', '/announcement/imagesUpload', true);
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                    xhr.send(formData);
                }
            }
            // 이미지 유효성 검증
            function popupImagesValidation(file, callback) {
                if (file) {
                    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");

                    let xhr = new XMLHttpRequest();
                    const formData = new FormData();

                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                //return 값은 boolean 값으로
                                console.log(xhr.response);
                                callback(xhr.response);
                            } else {
                                alert('이미지 파일 유효성 검증 중 오류가 발생하였습니다.');
                                console.log(xhr.response);
                                callback(xhr.response);
                            }
                        }
                    }

                    formData.append('file', file);

                    xhr.open('POST', '/announcement/imagesValidation', true);
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                    // xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(formData);
                }
            }
            // 이미지 업로드 과정 (유효성 검증 => 파일 업로드 => 미리보기 만들기)
            function popupImageUploadProcess(event){
                const files = event.target.files;
                // 이미지 유효성 검증 => files[0]을 넣어 실행한 popupImagesValidation의 결과를 function()으로 처리함 (콜백이용)
                popupImagesValidation(files[0], function(result){
                    if (result ==='false') {
                        alert("이미지로 업로드 가능한 형식은\n[ .jpg .png .gif ] 입니다.");
                        popupImageDeleteBtn.click();
                        return false;
                    }
                    // 이미지 파일 저장 후 이미지 미리보기
                    popupImageUpload(files[0], function(result){
                        //result 는 저장되는 fileId
                        // popupImagePreview(result);

                        const reader = new FileReader();
                        // 파일 읽기가 완료되면 실행되는 콜백 함수
                        reader.onload = function (e) {
                            // 읽은 데이터를 이미지 미리보기에 설정
                            let preview = document.getElementById("popupImagePreview");
                            preview.style.display = "";
                            preview.src = e.target.result;
                        };
                        reader.readAsDataURL(files[0]);
                    });
                });
            }
        </script>

        <!-- flatpickr 설정 -->
        <script>
            const startDateInput = document.getElementById('startDate');
            const endDateInput = document.getElementById('endDate');
            flatpickr(startDateInput, {
                dateFormat: 'Y-m-d',
                enableTime: false,
                minDate: 'today',
                defaultDate: 'today',
                locale: 'ko',
                disableMobile: true,      // 모바일 기기에서 위젯 비활성화
            });
            flatpickr(endDateInput, {
                dateFormat: 'Y-m-d',
                enableTime: false,
                minDate: 'today',
                defaultDate: 'today',
                locale: 'ko',
                disableMobile: true,      // 모바일 기기에서 위젯 비활성화
            });
        </script>
    </div>
</html>