<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">

    <!--_csrf token-->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sign-in.css" rel="stylesheet">
    <style>
        span{
            width: 80px;
        }
    </style>
</head>
<body class="bg-secondary-subtle">
    <div class="p-3" th:object="${announcementDto}">
        <div class="input-group">
            <span class="input-group-text">제목</span>
            <input type="text" class="form-control" id="annoTitle" th:field="*{annoTitle}" readonly>
        </div>
        <div class="input-group">
            <span class="input-group-text">등록자</span>
            <input type="text" class="form-control" id="registrant" th:field="*{registrant}" readonly>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">내용</span>
            <textarea class="form-control" aria-label="With textxarea" id="annoContents" th:field="*{annoContents}" cols="30" rows="10" readonly></textarea>
        </div>
        <label for="todayCheck">오늘 하루 이 팝업 안보기
            <input class="form-check-input float-end" id="todayCheck" type="checkbox" th:value="*{annoId}" aria-label="Checkbox">
        </label>
        <button class="btn btn-sm btn-danger float-end" onclick="popupClose()">Close</button>
    </div>
    <script>
        /** 이벤트 리스너 영역 */
        // 브라우저 로드 시 팝업 노출 정보 확인
        window.addEventListener('DOMContentLoaded', () => {
            /*const cookies = document.cookie.split(';');
            cookies.forEach(cookie => {
                cookie = cookie.trim();
                if (cookie.startsWith('hidePopup=')) {
                    alert('오늘 하루 노출되지 않는 팝업');
                }
            });*/
        });
        // 브라우저 종료 시 오늘 하루 안보기 체크
        window.addEventListener('beforeunload', () => {
            const checkbox = document.getElementById('todayCheck');
            if (checkbox.checked) {
                window.opener.addCookie(checkbox.value);
            }
        });

        /** 함수 정의 영역 */
        // 팝업 종료 버튼
        function popupClose(){
            window.close();
        }
    </script>
</body>

</html>