<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>회원가입</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">-->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }
        .bd-mode-toggle {
            z-index: 1500;
        }

        .error-message {
            color: red;
            font-size: 12px;
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="/css/sign-in.css" rel="stylesheet">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">

<main class="form-signin w-100 m-auto">
    <form class="needs-validation" action="/member/memberJoin" method="post" th:object="${memberFormDto}" >
        <img class="mb-4" src="/images/member/memberJoin0.svg" alt="" width="72" height="57" id="memberJoin">
        <h1 class="h4 mb-3 fw-normal">양식을 작성해주세요😁</h1>
        <div class="row g-3">
            <div class="col-sm-5">
                <label for="emailId" class="form-label">이메일</label>  <span th:errors="*{emailId}" class="error-message"></span>
                <input type="text" class="form-control" id="emailId" name="emailId" th:field="*{emailId}" placeholder="e-mail" value="" required="" autocomplete="emailId">
            </div>
            <div class="col-sm-7">
                <label for="emailAddress" class="form-label">주소</label>  <span th:errors="*{emailAddress}" class="error-message"></span>
                <input type="text" class="form-control" id="emailAddress" name="emailAddress" th:field="*{emailAddress}" placeholder="@example.com" value="" required="">
            </div>
            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    <select class="form-select" id="emailExample" required="">
                        <option value="none">직접작성</option>
                        <option value="@naver.com">naver.com (네이버)</option>
                        <option value="@gmail.com">gmail.com (구글, 지메일)</option>
                    </select>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-secondary w-100 py-sm-1" type="button" id="emailCheckBtn">확인 코드 보내기</button>
                <button class="btn btn-secondary w-100 py-sm-1" type="button" id="rewriteBtn">다시 작성하기</button>
            </div>
            <div class="input-group" id="emailCodeCheckDiv">
                <input type="text" class="form-control" placeholder="코드를 입력해주세요." id="emailCodeInput" autocomplete="emailCodeInput">
                <button type="button" class="btn btn-secondary" id="emailCodeCheckBtn">확인하기</button>
            </div>
            <hr class="my-3">
            <div class="col-12">
                <label for="password" class="form-label">비밀번호</label>  <span th:errors="*{password}" class="error-message"></span>
                <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="password" required="" autocomplete="new-password">
                <label for="passwordCheck" class="form-label">비밀번호 확인  <span id="passwordCheckInfo" style="font-size: small"></span></label>
                <input type="password" class="form-control" id="passwordCheck" placeholder="password-check" required="" autocomplete="new-password"><div class="invalid-feedback">
            </div>
            </div>
            <hr class="my-2">
            <div class="col-12">
                <label for="memberName" class="form-label">이름</label>  <span th:errors="*{memberName}" class="error-message"></span>
                <input type="text" class="form-control" id="memberName" name="memberName" th:field="*{memberName}" placeholder="홍길동" required="" maxlength="10">
            </div>
            <div class="col-12">
                <label for="memberNumber" class="form-label">휴대폰번호</label>  <span th:errors="*{memberNumber}" class="error-message"></span>
                <input type="text" class="form-control" id="memberNumber" name="memberNumber" th:field="*{memberNumber}" placeholder="01012345678" required="" maxlength="13">
            </div>
            <div class="col-sm-4">
                <label for="birthYYYY" class="form-label">년</label>  <span th:errors="*{birthYYYY}" class="error-message"></span>
                <input type="text" class="form-control" id="birthYYYY" name="birthYYYY" th:field="*{birthYYYY}" placeholder="1994" required="" maxlength="4">
            </div>
            <div class="col-sm-4">
                <label for="birthMM" class="form-label">월</label>  <span th:errors="*{birthMM}" class="error-message"></span>
                <input type="text" class="form-control" id="birthMM" name="birthMM" th:field="*{birthMM}" placeholder="06" required="" maxlength="2">
            </div>
            <div class="col-sm-4">
                <label for="birthDD" class="form-label">일</label>  <span th:errors="*{birthDD}" class="error-message"></span>
                <input type="text" class="form-control" id="birthDD" name="birthDD" th:field="*{birthDD}" placeholder="14" required="" maxlength="2">
            </div>
        </div>
        <hr class="my-4">
        <div class="d-grid gap-2">
            <button class="btn btn-primary w-100 py-2" type="button" id="formBtn">회원가입</button>
            <button class="btn btn-outline-secondary w-100 py-sm-1" type="button" id="goToLoginBtn" onclick="goToLoginPage()">돌아가기</button>
        </div>
        <p class="mt-5 mb-3 text-body-secondary">&copy; Groupware for Study</p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</main>
<script src="/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    /* 전역변수 선언 */
    const logo = document.getElementById("memberJoin");
    const rewriteBtn = document.getElementById("rewriteBtn");
    const emailCheckBtn = document.getElementById("emailCheckBtn");
    const emailExample = document.getElementById("emailExample");
    const emailCodeCheckDiv = document.getElementById("emailCodeCheckDiv");
    const emailCodeCheckBtn = document.getElementById("emailCodeCheckBtn");
    const passwordCheck = document.getElementById("passwordCheck");
    const memberNumber = document.getElementById("memberNumber");
    const formBtn = document.getElementById("formBtn");
    const goToLoginBtn = document.getElementById("goToLoginBtn");
    let emailValidation = false;
    let passwordValidation = false;
    let emailCode = "";

    /* Listener control Area */
    // 회원가입 진행하기
    formBtn.addEventListener("click", memberJoinProcess);
    // 휴대폰번호 - 넣기
    memberNumber.addEventListener("keyup", memberNumberProcess);
    //비밀번호 확인하기
    passwordCheck.addEventListener("keyup", passwordCheckProcess);
    // 이메일 인증 코드 확인하기
    emailCodeCheckBtn.addEventListener("click", emailCodeCheck);
    // 다시 작성하기 버튼 클릭
    rewriteBtn.addEventListener("click", emailRewrite);
    // 이메일 확인 코드 보내기 버튼
    emailCheckBtn.addEventListener("click", emailCheckProcess);
    // 이메일 코드 입히기
    emailExample.addEventListener("change", selectBoxChange);
    //이미지 변경
    setInterval(changeLogo, 700);

    /* Document.ready */
    window.onload = onPageLoad;
    function onPageLoad() {
        emailInitialSetting(); //이메일 초기 세팅

        let errorMessage = [[${errorMessage}]]; //에러메세지
        if(errorMessage != null){
            alert(errorMessage);
        }
    }

    /* Function Area */
    // 로그인 페이지 돌아가기
    function goToLoginPage(){
        window.location.href = "/login";
    }
    // 회원가입 데이터 정비 및 넘기기
    function memberJoinProcess(){
        if ( memberJoinDataVaildCheck() ) {
            //disabled 해제 해서 submit 보내기
            document.getElementById("emailId").disabled = false;
            document.getElementById("emailAddress").disabled = false;
            document.querySelector('form').submit();
        }
    }
    // 회원가입 데이터 유효성 체크
    function memberJoinDataVaildCheck(){
        // form 화면 유효성 체크
        let form = document.getElementsByClassName('needs-validation')[0];
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');

        //전체 유효성 체크
        const inputs = document.querySelectorAll("input");
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].value === '') {
                alert("작성이 완료되지 않았습니다.\n해당 부분을 확인해주세요.");
                inputs[i].focus();
                return false;
            }
        }
        const birthMM = document.getElementById("birthMM");
        const birthDD = document.getElementById("birthDD");
        // 두 자릿수 체크(MM)
        if(birthMM.value.length == 1 || birthDD.value.length == 1) {
            birthMM.value = birthMM.value.padStart(2, "0");
            birthDD.value = birthDD.value.padStart(2, "0");
        }
        if (!emailValidation && passwordValidation) {
            alert("이메일 인증 혹은 비밀번호 확인을 점검해주세요.");
        }
        return emailValidation && passwordValidation;
    }
    // 휴대폰번호 하이픈 넣기
    function memberNumberProcess(){
        let memberNumber = document.getElementById("memberNumber");
        memberNumber.value = memberNumber.value
                                .replace(/[^0-9]/g, "") //숫자 제외 모든 문자 제거
                                .replace(/(^01[0-9]{1})(\\?[0-9]{3,4})(\\?[0-9]{4})$/, "$1-$2-$3");
    }
    // 비밀번호 확인하기
    function passwordCheckProcess(){
        let password = document.getElementById("password");
        let passwordCheck = document.getElementById("passwordCheck");
        let passwordCheckInfo = document.getElementById("passwordCheckInfo");
        passwordValidation = (password.value === passwordCheck.value);
        if(passwordValidation){
            passwordCheckInfo.style.color='blue';
            passwordCheckInfo.innerText = "*비밀번호가 일치합니다.";
        } else {
            passwordCheckInfo.style.color='red';
            passwordCheckInfo.innerText = "*비밀번호가 일치하지 않습니다.";
        }
    }
    // 이메일 코드 인증 확인하기
    function emailCodeCheck(){
        const emailCodeInput = document.getElementById("emailCodeInput");
        emailValidation = (emailCodeInput.value === emailCode);
        emailValidationSuccessOrNot(emailValidation);
    }
    // 이메일 인증 성공/실패에 따른 div 설정
    function emailValidationSuccessOrNot(success){
        if ( success ) {
            emailCheckBtn.innerText = "인증이 완료되었습니다.";

            rewriteBtn.style.display = "none";
            emailCodeCheckDiv.style.display = "none";
        } else {
            alert("입력하신 코드는 보내드린 이메일 인증 코드와 맞지 않습니다.\n다시 시도 해주시기 바랍니다.");
            emailRewrite();
        }
    }
    // (ajax)이메일 확인 코드 보내기
    function ajaxWhatEmailSend(){
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
        const emailId = document.getElementById("emailId");
        const emailAddress = document.getElementById("emailAddress");
        let object = {};
        let xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function(){
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    //성공
                    emailCode = xhr.response;
                } else {
                    alert("이메일 전송 중 오류가 발생하였습니다.");
                    emailRewrite();
                }
            }
        }

        object['emailId'] = emailId.value;
        object['emailAddress'] = emailAddress.value;
        // 객체 > JSON 문자열
        const params = JSON.stringify(object);

        xhr.open('POST', '/email/check', true);
        xhr.setRequestHeader(csrfHeader, csrfToken);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(params);
    }
    // 이메일 확인 코드 보내기
    function emailCheckProcess(){
        if ( emailValueCheck() ) {
            rewriteBtn.style.display = "";
            emailCodeCheckDiv.style.display = "";

            ajaxWhatEmailSend();
        }
    }
    // 이메일 유효성 체크
    function emailValueCheck(){
        const emailId = document.getElementById("emailId");
        const emailAddress = document.getElementById("emailAddress");
        const emailExample = document.getElementById("emailExample");
        if (emailId.value != "" && emailAddress.value != "") {
            emailCheckBtn.innerHTML = "이메일로 확인 코드를 보냈습니다.";
            emailCheckBtn.disabled = true;
            emailExample.disabled = true;
            emailId.disabled = true;
            emailAddress.disabled = true;
            return true;
        } else {
            alert("이메일 양식에 빈칸이 존재합니다.\n양식을 채워주시기 바랍니다.");
            if (emailId.value == "") { emailId.focus(); }
            else { emailAddress.focus(); }
            return false;
        }
    }
    // 이메일 다시 작성하기
    function emailRewrite(){
        emailInitialSetting();
    }
    // 이메일 초기 세팅
    function emailInitialSetting(){
        const emailId = document.getElementById("emailId");
        const emailExample = document.getElementById("emailExample");
        const emailCodeInput = document.getElementById("emailCodeInput");

        rewriteBtn.style.display = "none";
        emailCodeCheckDiv.style.display = "none";

        emailCheckBtn.disabled = false;
        emailCheckBtn.innerText = "확인 코드 보내기";
        emailId.disabled = false;
        emailExample.disabled = false;

        emailCodeInput.value = "";

        selectBoxChange();
    }
    // 이메일 주소 고르기
    function selectBoxChange(){
        const emailAddress = document.getElementById("emailAddress");
        let value = emailExample.value;
        if ( value == 'none') {
            emailAddress.disabled = false;
            emailAddress.value = "";
        } else {
            emailAddress.disabled = true;
            emailAddress.value = emailExample.value;
        }
    }
    //이미지 변경 함수
    function changeLogo(){
        const frontSrc = "/images/member/memberJoin";
        const backSrc = ".svg";
        let src = logo.getAttribute("src");
        let logoNum = parseInt(src.replace(/\D/g, ""));//숫자 추출
        let newLogoNum = (logoNum+1)%4;
        const newSrc = frontSrc + newLogoNum + backSrc;
        logo.setAttribute("src", newSrc);
    }
</script>
</body>
</html>
