<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <div layout:fragment="content">
        <!-- <div class="h6 text-body-secondary">그룹웨어 회원을 관리하는 화면입니다.</div>
        <hr>
        <table class="table table-striped table-hover table-border border-secondary caption-top">
            <caption>One Million Members</caption>
            <thead class="table-warning">
            <tr>
                <th scope="col">#</th>
                <th scope="col">이름</th>
                <th scope="col">이메일</th>
                <th scope="col">연락처</th>
                <th scope="col">생년월일</th>
                <th scope="col">역할</th>
                <th scope="col">계정활성</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memberDto, index : ${memberDtoList}">
                <td th:text="*{index.index + 1}"></td>
                <td th:text="*{memberDto.memberName}"></td>
                <td id="email" th:value="*{memberDto.email}" th:text="*{memberDto.email}"></td>
                <td th:text="*{memberDto.memberNumber}"></td>
                <td th:text="*{memberDto.memberBirth}"></td>
                <td>
                    <select class="form-select form-select-sm" name="roleSelectbox">
                        <option selected th:text="*{memberDto.role}" disabled></option>
                        <option value="ADMIN">ADMIN</option>
                        <option value="USER">USER</option>
                    </select>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" th:checked="*{memberDto.enabled}" role="switch" name="flexSwitchCheck">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
         -->
        <div class="row">
            <div class="col-xl-12">
                <div class="border-faded bg-faded p-3 mb-g d-flex">
                    <input type="text" id="js-filter-contacts" name="filter-contacts" class="form-control shadow-inset-2 form-control-lg" placeholder="회원 정보를 입력하세요. 물론 아직 개발 예정입니다.">
                    <div class="btn-group btn-group-lg btn-group-toggle hidden-lg-down ml-3" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" name="contactview" id="grid" checked="" value="grid"><i class="fas fa-table"></i>
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="contactview" id="table" value="table"><i class="fas fa-th-list"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="js-contacts">
            <div class="col-xl-3" th:each="memberDto, index : ${memberDtoList}">
                <div id="c_1" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="${memberDto.memberName}">
                    <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
                        <div class="d-flex flex-row align-items-center">
                            <span class="status status-success mr-3">
                                <span class="rounded-circle profile-image d-block " style="background-image:url('/img/demo/avatars/avatar-c.png'); background-size: cover;"></span>
                            </span>
                            <div class="info-card-text flex-1">
                                <a th:text="*{memberDto.memberName}" href="javascript:void(0);" class="fs-xl text-truncate text-truncate-lg text-info" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fal fa-angle-down d-inline-block ml-1 fs-md"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">계정 비활성화</a>
                                </div>
                                <span th:text="*{memberDto.memberBirth}" class="text-truncate text-truncate-xl"></span>
                            </div>
                            <button class="js-expand-btn btn btn-sm btn-default d-none" data-toggle="collapse" data-target="#c_1 > .card-body + .card-body" aria-expanded="false">
                                <span class="collapsed-hidden">+</span>
                                <span class="collapsed-reveal">-</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0 collapse show">
                        <div class="p-3">
                            <a th:text="*{memberDto.memberNumber}" href="tel:${memberDto.memberNumber}" class="mt-1 d-block fs-sm fw-400 text-dark">
                                <i class="fas fa-mobile-alt text-muted mr-2"></i></a>
                            <a th:text="*{memberDto.email}" href="mailto:${memberDto.email}" class="mt-1 d-block fs-sm fw-400 text-dark">
                                <i class="fas fa-mouse-pointer text-muted mr-2"></i></a>
                            <address th:text="*{memberDto.role}" class="fs-sm fw-400 mt-4 text-muted">
                                <i class="fas fa-map-pin mr-2"></i></address>
                            <div class="d-flex flex-row">
                                <a href="javascript:void(0);" class="mr-2 fs-xxl" style="color:#38A1F3">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="javascript:void(0);" class="mr-2 fs-xxl" style="color:#3b5998">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                                <a href="javascript:void(0);" class="mr-2 fs-xxl" style="color:#0077B5">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            /** 이벤트 리스너 등록 */
            // 멤버 권한 부여
            document.getElementsByName('roleSelectbox').forEach( e => {e.addEventListener('change', function(e){roleChange(e);})});
            // 사용자 접속권한 부여
            document.getElementsByName('flexSwitchCheck').forEach( e=> {e.addEventListener('click', function(e){enabledChange(e);})});

            /** 함수 적용 */
            // 멤버 권한 변경
            function roleChange(e){
                const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
                const email = findTdNodes(e.target);
                let xhr = new XMLHttpRequest();
                let object = {};

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            alert(xhr.response);
                        } else {
                            alert(xhr.response);
                        }
                    }
                }
                object['email'] = email.getAttribute('value');
                object['role'] = e.target.value;
                const params = JSON.stringify(object);

                xhr.open('PATCH', '/member/roleChange', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader(csrfHeader, csrfToken);
                xhr.send(params);

            }
            // 사용자 계정 활성화
            function enabledChange(e){
                const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
                const email = findTdNodes(e.target);
                let xhr = new XMLHttpRequest();
                let object = {};

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            alert(xhr.response);
                        } else {
                            alert(xhr.response);
                        }
                    }
                }
                object['email'] = email.getAttribute('value');
                object['enabled'] = e.target.checked;
                const params = JSON.stringify(object);

                xhr.open('PATCH', '/member/enabledChange', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader(csrfHeader, csrfToken);
                xhr.send(params);
            }
            // 해당 row에서 찾고자하는 id 추출
            function findTdNodes(target){
                while (target && target.tagName !== 'TR') {
                    target = target.parentNode;
                }
                if (target) {
                    return Array.from(target.children).find(child => child.id);
                }
            }
        </script>
    </div>
</html>