<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">
        <div class="bottom blog">
           <div class="btn-group dropup">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    멤버들 블로그
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" target="_blank" href="https://blog.naver.com/nsqfrnidzb"><p>고용수</p></a></li>
                    <li><a class="dropdown-item" target="_blank" href="https://blog.naver.com/dingko_"><p>김연세</p></a></li>
                    <li><a class="dropdown-item" target="_blank" href="https://blog.naver.com/gurrms95"><p>권혁근</p></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom copy">
            <a href="/"><p>&copy; Groupware for Study</p></a>
        </div>
    </footer>
</html>
