<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
        <!-- 222
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">

                <div class="col mb-3">
                    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                        <img src="/images/main/intersect.svg" alt="" width="40" height="32" class="d-inline-block align-text-top">
                    </a>
                    <p class="text-body-secondary">© Groupware for Study</p>
                </div>

                <div class="col mb-3">

                </div>

                <div class="col mb-3">
                    <h5>제휴회사</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>참고사이트</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Blog</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://blog.naver.com/nsqfrnidzb" target="_blank" class="nav-link p-0 text-body-secondary" >고용수</a></li>
                        <li class="nav-item mb-2"><a href="https://blog.naver.com/dingko_" target="_blank" class="nav-link p-0 text-body-secondary">김연세</a></li>
                        <li class="nav-item mb-2"><a href="https://blog.naver.com/gurrms95" target="_blank" class="nav-link p-0 text-body-secondary">권혁근</a></li>
                    </ul>
                </div>
            </div>

        </div>-->
        <nav class="navbar fixed-bottom bg-body-tertiary">
            <div class="container-fluid">
                <div>
                    <span class="navbar-text" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                        멤버들의 블로그
                    </span>
                </div>
                <a class="navbar-brand" href="/">
                    <p class="mt-1 mb-1 text-body-tertiary" style="font-size: xx-small;">&copy; Groupware for Study</p>
                </a>
            </div>
        </nav>

        <!-- 아래쪽 오프캔버스 -->
        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel">멤버들 블로그 구경하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <a class="navbar-brand" href="https://blog.naver.com/nsqfrnidzb" target="_blank"><span>고용수</span></a>
                <a class="navbar-brand" href="https://blog.naver.com/dingko_" target="_blank"><span>김연세</span></a>
                <a class="navbar-brand" href="https://blog.naver.com/gurrms95" target="_blank"><span>권혁근</span></a>
            </div>
        </div>
    </div>

</html>
