<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="border-bottom: 1px solid #dee2e6">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/main/intersect.svg" alt="" width="52" height="37" class="d-inline-block align-text-top">
                One Million Study
            </a>
            <a class="navbar-brand" href="#">
                <span class="navbar-text" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <span th:text="${#authentication.getPrincipal().getMemberName()}" style="font-size: medium"></span>
                    <img src="/images/main/person-lock.svg" alt="" width="42" height="27">
                </span>
            </a>
        </div>
    </nav>
    <!--오른쪽 오프캔버스-->
    <div class="offcanvas offcanvas-end " data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header" style="border-bottom: 1px solid #dee2e6">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
                <span th:text="${#authentication.getPrincipal().getMemberName()}"></span>님! 반가워요😊
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p sec:authorize="isAuthenticated()"><a class="navbar-brand" href="/logout">로그아웃</a></p>
            <p>사용자 설정 변경</p>
            <p>내 블로그</p>
        </div>
    </div>
</header>
</html>
