html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
}

.form-signin span[for="email"]{
  border-bottom: none;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin span {
  width: 90px;
  font-size: small;
}

.form-signin .welcome {overflow: hidden;}
.form-signin .welcome img {float: left;}
.form-signin .welcome .welcome-text {line-height: 2.1;}

.form-signin .form-check-label {font-size: 14px;}