<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/lauout}">

    <div layout:fragment="content">
        <style>
            .attend{
                width: 100px;
                height: 100px;
                text-align: center;
            }
            .attend a{
                display: inline-block;
            }
        </style>
        <div class="attend">
            <a href="#" id="attendCheck" th:unless="${isAttend}">
                <img class="attend" src="/images/main/attend-yet.png" alt="created by syafii5758 - Flaticon">
                출석체크
            </a>
            <a th:if="${isAttend}">
                <img class="attend" src="/images/main/attend-check.png" alt="created by syafii5758 - Flaticon">
                출석완료
            </a>
        </div>

        <script th:inline="javascript">
            /** 화면 맨 처음 로드 시 */
            document.addEventListener("DOMContentLoaded", function(){
                //공지사항 팝업 띄우기
                const announcementDtoList = [[${announcementDtoList}]];
                announcementDtoList.forEach((a, index) => {
                    openPopup(a, index);
                });
            })

            /** 이벤트 리스너 적용 */
            //출석체크 클릭
            document.getElementById('attendCheck').addEventListener('click', attendCheckProcess);

            /** 함수 정의 */
            // 출석체크 하기
            function attendCheckProcess(){
                if ( confirm("사용자의 위치를 기반으로 출석체크를 진행합니다.\n(스터디 장소 70M 이내)\n동의하십니까?") ) {
                    // 위치 정보 파악 (위도, 경도)
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(position => {
                            let lat = position.coords.latitude;
                            let lng = position.coords.longitude;

                            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
                            let xhr = new XMLHttpRequest();
                            let object = {};

                            xhr.onreadystatechange = function(){
                                if (xhr.readyState === XMLHttpRequest.DONE) {
                                    if (xhr.status === 200) {
                                        alert(xhr.response);
                                        window.location.reload();
                                    } else {
                                        alert(xhr.response);
                                    }
                                }
                            }
                            // 객체 > JSON 문자열
                            object['lat'] = lat;
                            object['lng'] = lng;
                            const params = JSON.stringify(object);

                            xhr.open('POST', '/attend/attendCheck', true);
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                            xhr.setRequestHeader('Content-Type', 'application/json');
                            xhr.send(params);
                        });
                    } else {
                        alert("현재 브라우저에서 Geolocation을 지원하지 않아 출석체크가 불가합니다.");
                    }
                }
                // 오차범위 이내 들어오면 ok or 아니면 안됨
            }
            // 오늘 하루 안보기 적용
            function addCookie(value){
                let expiredDate = new Date();
                expiredDate.setDate(expiredDate.getDate() + 1); // 다음날 보이기
                expiredDate.setHours(0, 0, 0, 0); // 다음날 00시부터는 보일 수 있도록 하기
                //쿠키 가져오기 (중복제외)
                let hideCookie = getCookie('hidePopup');
                if (hideCookie) {
                    hideCookie = hideCookie.replace('undefined', '');
                    const newCookie = hideCookie + "-" + value;
                    document.cookie = 'hidePopup=' + newCookie + "; expires=" + expiredDate + "; path=/";
                } else {
                    //초기설정
                    document.cookie = 'hidePopup=' + value + "; expires=" + expiredDate + "; path=/";
                }
            }
            // 쿠키 가져오기
            function getCookie(cookieName){
                let cookies = document.cookie.split(';');
                /** 여기서 getCookie 를 undefined 해버림, 문제를 찾아봐야 함
                 * => foreach 는 돌다가 중간에 return 되면 정상적으로 종료되지 않음
                 * => for 문을 사용하여 완료된 후 return 값을 지정해줌으로 해결
                 * */
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.startsWith(cookieName + '=')) {
                        return cookie.substring(cookieName.length + 1);
                    }
                }
                return undefined; //없으면 undefined 반환
            }
            // 팝업창 열기
            function openPopup(a, index){
                const annoId = Number(a.annoId);
                const popupUrl = "/announcement/popup/" + annoId;
                const width = 350, height = 350, left = index*20, top= index*20;
                window.open(popupUrl, "_blank", "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top);
            }
        </script>
    </div>
</html>