<!-- <html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <div layout:fragment="content">
        <style>
            .attend{
                width: 100px;
                height: 100px;
                text-align: center;
            }
            .attend a{
                display: inline-block;
            }
        </style>
        <div class="attend">
            <a href="#" id="attendCheck" th:unless="${isAttend}">
                <img class="attend" src="/images/main/attend-yet.png" alt="created by syafii5758 - Flaticon">
                출석체크
            </a>
            <a th:if="${isAttend}">
                <img class="attend" src="/images/main/attend-check.png" alt="created by syafii5758 - Flaticon">
                출석완료
            </a>
        </div>

        <script th:inline="javascript">
            /** 화면 맨 처음 로드 시 */
            document.addEventListener("DOMContentLoaded", function(){
                //공지사항 팝업 띄우기
                const announcementDtoList = [[${announcementDtoList}]];
                announcementDtoList.forEach((a, index) => {
                    openPopup(a, index);
                });
            })

            /** 이벤트 리스너 적용 */
            //출석체크 클릭
            document.getElementById('attendCheck').addEventListener('click', attendCheckProcess);

            /** 함수 정의 */
            // 출석체크 하기
            function attendCheckProcess(){
                if ( confirm("사용자의 위치를 기반으로 출석체크를 진행합니다.\n(스터디 장소 70M 이내)\n진행하시겠습니까?") ) {
                    // 위치 정보 파악 (위도, 경도)
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(position => {
                            let lat = position.coords.latitude;
                            let lng = position.coords.longitude;

                            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
                            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
                            let xhr = new XMLHttpRequest();
                            let object = {};

                            xhr.onreadystatechange = function(){
                                if (xhr.readyState === XMLHttpRequest.DONE) {
                                    if (xhr.status === 200) {
                                        alert(xhr.response);
                                        window.location.reload();
                                    } else {
                                        alert(xhr.response);
                                    }
                                }
                            }
                            // 객체 > JSON 문자열
                            object['lat'] = lat;
                            object['lng'] = lng;
                            const params = JSON.stringify(object);

                            xhr.open('POST', '/attend/attendCheck', true);
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                            xhr.setRequestHeader('Content-Type', 'application/json');
                            xhr.send(params);
                        });
                    } else {
                        alert("현재 브라우저에서 Geolocation을 지원하지 않아 출석체크가 불가합니다.");
                    }
                }
                // 오차범위 이내 들어오면 ok or 아니면 안됨
            }
            // 오늘 하루 안보기 적용
            function addCookie(value){
                let expiredDate = new Date();
                expiredDate.setDate(expiredDate.getDate() + 1); // 다음날 보이기
                expiredDate.setHours(0, 0, 0, 0); // 다음날 00시부터는 보일 수 있도록 하기
                //쿠키 가져오기 (중복제외)
                let hideCookie = getCookie('hidePopup');
                if (hideCookie) {
                    hideCookie = hideCookie.replace('undefined', '');
                    const newCookie = hideCookie + "-" + value;
                    document.cookie = 'hidePopup=' + newCookie + "; expires=" + expiredDate + "; path=/";
                } else {
                    //초기설정
                    document.cookie = 'hidePopup=' + value + "; expires=" + expiredDate + "; path=/";
                }
            }
            // 쿠키 가져오기
            function getCookie(cookieName){
                let cookies = document.cookie.split(';');
                /** 여기서 getCookie 를 undefined 해버림, 문제를 찾아봐야 함
                 * => foreach 는 돌다가 중간에 return 되면 정상적으로 종료되지 않음
                 * => for 문을 사용하여 완료된 후 return 값을 지정해줌으로 해결
                 * */
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.startsWith(cookieName + '=')) {
                        return cookie.substring(cookieName.length + 1);
                    }
                }
                return undefined; //없으면 undefined 반환
            }
            // 팝업창 열기
            function openPopup(a, index){
                const annoId = Number(a.annoId);
                const popupUrl = "/announcement/popup/" + annoId;
                const width = 700, height = 420, left = index*20, top= index*20;
                window.open(popupUrl, "_blank", "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top);
            }
        </script>
    </div>
</html> -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <!-- 20240512 주석 : 추후 ProgramService -> BreadcrumbService 구현 시 사용 예정         
        <ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
            <li class="breadcrumb-item">Application Intel</li>
            <li class="breadcrumb-item active">Analytics Dashboard</li>
            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
        </ol>
        <div class="subheader">
            <h1 class="subheader-title">
                <i class='subheader-icon fal fa-chart-area'></i> Analytics <span class='fw-300'>Dashboard</span>
            </h1>
            <div class="subheader-block d-lg-flex align-items-center">
                <div class="d-inline-flex flex-column justify-content-center mr-3">
                    <span class="fw-300 fs-xs d-block opacity-50">
                        <small>EXPENSES</small>
                    </span>
                    <span class="fw-500 fs-xl d-block color-primary-500">
                        $47,000
                    </span>
                </div>
                <span class="js-sparklines-1 hidden-lg-down"></span>
            </div>
            <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
                <div class="d-inline-flex flex-column justify-content-center mr-3">
                    <span class="fw-300 fs-xs d-block opacity-50">
                        <small>MY PROFITS</small>
                    </span>
                    <span class="fw-500 fs-xl d-block color-danger-500">
                        $38,500
                    </span>
                </div>
                <span class="js-sparklines-2 hidden-lg-down"></span>
            </div>
        </div>
        -->
    <div class="row">
        <div class="col-lg-6">
            <!-- 슬라이드 시작 : 필수 script는 하단 참조 -->
            <div id="panel-3" class="panel">
                <div class="panel-container show">
                    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/img/backgrounds/bg-9.jpg" data-src="holder.js/800x360?auto=yes" alt="Fitst slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Themeleaf로 만들어진 그룹웨어 프로젝트 입니다</h5>
                                    <p>It's a groupware project made with Themeleaf</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/backgrounds/bg-10.jpg" data-src="holder.js/800x360?auto=yes" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>JPA로 만들어진 그룹웨어 프로젝트입니다</h5>
                                    <p>It's a groupware project made with JPA</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/backgrounds/bg-11.jpg" data-src="holder.js/800x360?auto=yes" alt="Third slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Spring으로 만들어진 그룹웨어 프로젝트입니다</h5>
                                    <p>It's a groupware project made with Spring</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/backgrounds/bg-12.jpg" data-src="holder.js/800x360?auto=yes" alt="Fourth slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Maria DB로 만들어진 그룹웨어 프로젝트입니다</h5>
                                    <p>It's a groupware project made with Maria DB</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 슬라이드 종료 -->
            <div id="panel-1" class="panel">
                <div class="panel-hdr" role="heading">
                    <h2>일정 - 개발예정</h2>
                    <!-- <h2 class="js-get-date"></h2> -->
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="panel-2" class="panel">
                <div class="panel-hdr">
                    <h2>
                        방명록 - 개발예정
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content p-0">
                        <div class="d-flex flex-column">
                            <div class="bg-subtlelight-fade custom-scroll">
                                <div class="h-100">
                                    <div class="d-flex flex-row px-3 pt-3 pb-2">
                                        <!-- profile photo : lazy loaded -->
                                        <span class="status status-danger">
                                            <span class="profile-image rounded-circle d-inline-block"
                                                style="background-image:url('/img/demo/avatars/avatar-c.png')"></span>
                                        </span>
                                        <!-- profile photo end -->
                                        <div class="ml-3">
                                            <a href="javascript:void(0);" title="박성우"
                                                class="d-block fw-700 text-dark">박성우</a>
                                            현재 기존 기능에 해당하는 출석, 사용자 활성화/비활성화, 공지사항 등록은 되살리는 중입니다!</br>
                                            이후에 회원가입 폼, 비밀번호 찾기, To-do-List를 신규 UI로 변경할 예정입니다.
                                        </div>
                                    </div>
                                    <!-- message -->
                                    <div class="d-flex flex-row px-3 pt-3 pb-2">
                                        <!-- profile photo : lazy loaded -->
                                        <span class="status status-danger">
                                            <span class="profile-image rounded-circle d-inline-block"
                                                style="background-image:url('/img/demo/avatars/avatar-c.png')"></span>
                                        </span>
                                        <!-- profile photo end -->
                                        <div class="ml-3">
                                            <a href="javascript:void(0);" title="고용수"
                                                class="d-block fw-700 text-dark">고용수</a>
                                                새로운 교재, 파일 공유합니다!
                                            <!-- file download -->
                                            <div class="d-flex mt-3 flex-wrap">
                                                <div class="btn-group mr-1 mt-1" role="group"
                                                    aria-label="Button group with nested dropdown ">
                                                    <button type="button"
                                                        class="btn btn-default btn-xs btn-block px-1 py-1 fw-500"
                                                        data-action="toggle">
                                                        <span class="d-block text-truncate text-truncate-sm">
                                                            <i class="fal fa-file-pdf mr-1 color-danger-700"></i>
                                                            자바웹개발워크북.pdf
                                                        </span>
                                                    </button>
                                                    <div class="btn-group" role="group">
                                                        <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-default btn-xs dropdown-toggle px-2 js-waves-off"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"></button>
                                                        <div class="dropdown-menu p-0 fs-xs"
                                                            aria-labelledby="btnGroupDrop1">
                                                            <a class="dropdown-item px-3 py-2" href="#">다운로드</a>
                                                            <a class="dropdown-item px-3 py-2" href="#">공유</a>
                                                            <a class="dropdown-item px-3 py-2" href="#">삭제</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn-group mr-1 mt-1" role="group"
                                                    aria-label="Button group with nested dropdown ">
                                                    <button type="button"
                                                        class="btn btn-default btn-xs btn-block px-1 py-1 fw-500"
                                                        data-action="toggle">
                                                        <span class="d-block text-truncate text-truncate-sm">
                                                            <i class="fal fa-file-archive mr-1 color-danger-700"></i>
                                                            new-project.zip
                                                        </span>
                                                    </button>
                                                    <div class="btn-group" role="group">
                                                        <button id="btnGroupDrop2" type="button"
                                                            class="btn btn-default btn-xs dropdown-toggle px-2 js-waves-off"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"></button>
                                                        <div class="dropdown-menu p-0 fs-xs"
                                                            aria-labelledby="btnGroupDrop2">
                                                            <a class="dropdown-item px-3 py-2" href="#">다운로드</a>
                                                            <a class="dropdown-item px-3 py-2" href="#">공유</a>
                                                            <a class="dropdown-item px-3 py-2" href="#">삭제</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- file download end -->
                                        </div>
                                    </div>
                                    <!-- message end -->
                                    <!-- message reply -->
                                    <div class="d-flex flex-row px-3 pt-3 pb-2">
                                        <!-- profile photo : lazy loaded -->
                                        <span class="status status-danger">
                                            <span class="profile-image rounded-circle d-inline-block"
                                                style="background-image:url('/img/demo/avatars/avatar-c.png')"></span>
                                        </span>
                                        <!-- profile photo end -->
                                        <div class="ml-3">
                                            <a href="javascript:void(0);" title="권홍종"
                                                class="d-block fw-700 text-dark">권홍종</a>
                                            확인 완료!
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row px-3 pt-3 pb-2">
                                        <!-- profile photo : lazy loaded -->
                                        <span class="status status-danger">
                                            <span class="profile-image rounded-circle d-inline-block"
                                                style="background-image:url('/img/demo/avatars/avatar-c.png')"></span>
                                        </span>
                                        <!-- profile photo end -->
                                        <div class="ml-3">
                                            <a href="javascript:void(0);" title="김연세"
                                                class="d-block fw-700 text-dark">김연세</a>
                                            <a href="javascript:void(0);" class="emoji emoji--haha" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Haha">
                                                <div class="emoji__face">
                                                    <div class="emoji__eyes"></div>
                                                    <div class="emoji__mouth">
                                                        <div class="emoji__tongue"></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row px-3 pt-3 pb-2">
                                        <!-- profile photo : lazy loaded -->
                                        <span class="status status-danger">
                                            <span class="profile-image rounded-circle d-inline-block"
                                                style="background-image:url('/img/demo/avatars/avatar-c.png')"></span>
                                        </span>
                                        <!-- profile photo end -->
                                        <div class="ml-3">
                                            <a href="javascript:void(0);" title="손혁근"
                                                class="d-block fw-700 text-dark">손혁근</a>
                                            확인 완료!
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row px-3 pt-3 pb-2">
                                        <!-- profile photo : lazy loaded -->
                                        <span class="status status-danger">
                                            <span class="profile-image rounded-circle d-inline-block"
                                                style="background-image:url('/img/demo/avatars/avatar-c.png')"></span>
                                        </span>
                                        <!-- profile photo end -->
                                        <div class="ml-3">
                                            <a href="javascript:void(0);" title="정지현"
                                                class="d-block fw-700 text-dark">정지현</a>
                                            <a href="javascript:void(0);" class="emoji emoji--wow" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Wow">
                                                <div class="emoji__face">
                                                    <div class="emoji__eyebrows"></div>
                                                    <div class="emoji__eyes"></div>
                                                    <div class="emoji__mouth"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row px-3 pt-3 pb-2">
                                        <!-- profile photo : lazy loaded -->
                                        <span class="status status-danger">
                                            <span class="profile-image rounded-circle d-inline-block"
                                                style="background-image:url('/img/demo/avatars/avatar-c.png')"></span>
                                        </span>
                                        <!-- profile photo end -->
                                        <div class="ml-3">
                                            <a href="javascript:void(0);" title="박성우"
                                                class="d-block fw-700 text-dark">박성우</a>
                                            확인 완료!
                                        </div>
                                    </div>
                                    <!-- message reply end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 bg-faded">
                        <textarea rows="3"
                            class="form-control rounded-top border-bottom-left-radius-0 border-bottom-right-radius-0 border"
                            placeholder="흔적을 남겨주세요!"></textarea>
                        <div class="d-flex align-items-center py-2 px-2 bg-white border border-top-0 rounded-bottom">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-icon fs-lg dropdown-toggle no-arrow"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fal fa-smile"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-animated text-center rounded-pill overflow-hidden"
                                    style="width: 280px">
                                    <div class="px-1 py-0">
                                        <a href="javascript:void(0);" class="emoji emoji--like" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Like">
                                            <div class="emoji__hand">
                                                <div class="emoji__thumb"></div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="emoji emoji--love" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Love">
                                            <div class="emoji__heart"></div>
                                        </a>
                                        <a href="javascript:void(0);" class="emoji emoji--haha" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Haha">
                                            <div class="emoji__face">
                                                <div class="emoji__eyes"></div>
                                                <div class="emoji__mouth">
                                                    <div class="emoji__tongue"></div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="emoji emoji--yay" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Yay">
                                            <div class="emoji__face">
                                                <div class="emoji__eyebrows"></div>
                                                <div class="emoji__mouth"></div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="emoji emoji--wow" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Wow">
                                            <div class="emoji__face">
                                                <div class="emoji__eyebrows"></div>
                                                <div class="emoji__eyes"></div>
                                                <div class="emoji__mouth"></div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="emoji emoji--sad" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Sad">
                                            <div class="emoji__face">
                                                <div class="emoji__eyebrows"></div>
                                                <div class="emoji__eyes"></div>
                                                <div class="emoji__mouth"></div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="emoji emoji--angry" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Angry">
                                            <div class="emoji__face">
                                                <div class="emoji__eyebrows"></div>
                                                <div class="emoji__eyes"></div>
                                                <div class="emoji__mouth"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-icon fs-lg">
                                <i class="fal fa-paperclip"></i>
                            </button>
                            <div class="custom-control custom-checkbox custom-control-inline ml-auto hidden-sm-down">
                            </div>
                            <button class="btn btn-primary btn-sm ml-auto ml-sm-0">
                                등록
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/dependency/moment/moment.js"></script>
    <script src="/js/miscellaneous/fullcalendar/fullcalendar.bundle.js"></script>
    <script>
        $(document).ready(function () {
            onInit();
        });

        function onInit() {
            /* 캘린더 바인딩 스크립트 */
            var todayDate = moment().startOf('day');
            var YM = todayDate.format('YYYY-MM');
            var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
            var TODAY = todayDate.format('YYYY-MM-DD');
            var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl,
                {
                    plugins: ['dayGrid', 'list', 'timeGrid', 'interaction', 'bootstrap'],
                    themeSystem: 'bootstrap',
                    timeZone: 'UTC',
                    //dateAlignment: "month", //week, month
                    buttonText:
                    {
                        add: '일정 등록',
                        today: '오늘 날짜로 이동',
                        month: '월별',
                        week: '주별',
                        day: '일별',
                        list: '리스트'
                    },
                    eventTimeFormat:
                    {
                        hour: 'numeric',
                        minute: '2-digit',
                        meridiem: 'short'
                    },
                    navLinks: true,
                    header:
                    {
                        left: 'title',
                        center: '',
                        right: 'today prev,next'
                    },
                    footer:
                    {
                        left: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
                        center: '',
                        right: ''
                    },
                    editable: true,
                    eventLimit: true,
                    events: [
                        {
                            title: 'All Day Event',
                            start: YM + '-01',
                            description: 'This is a test description',
                            className: "border-warning bg-warning text-dark"
                        },
                        {
                            title: 'Reporting',
                            start: YM + '-14T13:30:00',
                            end: YM + '-14',
                            className: "bg-white border-primary text-primary"
                        },
                        {
                            title: 'Surgery oncall',
                            start: YM + '-02',
                            end: YM + '-03',
                            className: "bg-primary border-primary text-white"
                        },
                        {
                            title: 'NextGen Expo 2019 - Product Release',
                            start: YM + '-03',
                            end: YM + '-05',
                            className: "bg-info border-info text-white"
                        },
                        {
                            title: 'Dinner',
                            start: YM + '-12',
                            end: YM + '-10'
                        },
                        {
                            id: 999,
                            title: 'Repeating Event',
                            start: YM + '-09T16:00:00',
                            className: "bg-danger border-danger text-white"
                        },
                        {
                            id: 1000,
                            title: 'Repeating Event',
                            start: YM + '-16T16:00:00'
                        },
                        {
                            title: 'Conference',
                            start: YESTERDAY,
                            end: TOMORROW,
                            className: "bg-success border-success text-white"
                        },
                        {
                            title: '스터디 MT',
                            start: '2024-05-25',
                            end: '2024-05-26',
                            className: "bg-success border-success text-white"
                        },
                        {
                            title: 'Meeting',
                            start: TODAY + 'T10:30:00',
                            end: TODAY + 'T12:30:00',
                            className: "bg-primary text-white border-primary"
                        },
                        {
                            title: 'Lunch',
                            start: TODAY + 'T12:00:00',
                            className: "bg-info border-info"
                        },
                        {
                            title: 'Meeting',
                            start: TODAY + 'T14:30:00',
                            className: "bg-warning text-dark border-warning"
                        },
                        {
                            title: 'Happy Hour',
                            start: TODAY + 'T17:30:00',
                            className: "bg-success border-success text-white"
                        },
                        {
                            title: 'Dinner',
                            start: TODAY + 'T20:00:00',
                            className: "bg-danger border-danger text-white"
                        },
                        {
                            title: 'Birthday Party',
                            start: TOMORROW + 'T07:00:00',
                            className: "bg-primary text-white border-primary text-white"
                        },
                        {
                            title: 'Gotbootstrap Meeting',
                            url: 'http://gotbootstrap.com/',
                            start: YM + '-28',
                            className: "bg-info border-info text-white"
                        }],
                    viewSkeletonRender: function () {
                        $('.fc-toolbar .btn-default').addClass('btn-sm');
                        $('.fc-header-toolbar h2').addClass('fs-md');
                        $('#calendar').addClass('fc-reset-order')
                    },

                });

            calendar.render();
        }
    </script>
    <!-- carousel slide script : 슬라이드 동작을 위한 필수 스크립트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.7/holder.min.js"></script>
</div>
</html>